[Oo]bj
[Bb]in
[Ss]ettings*/
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.swp
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.vshost.*
*results.xml
[Dd]ocumentation
[Bb]uildProcessTemplates
*.orig
[Ss]ettings
[Bb]ak

*.crunchproject.local.xml
*~
*.crunchsolution.local.xml
*.ncrunchproject
*.ncrunchsolution

[Tt]estresult.xml
coverage_output*/
html*/

